In [6]:
p_info = {
    'sex' : 'male',
    'height' : 173,
    'weight' : 65,
    'numbers' : [1,2,3,4],
    'fruits' : {'citrus':['lemon','lime','orange', {'orange-type': ['foreign','local']}]}}

In [7]:
p_info['fruits']['citrus'][3]['orange-type'][1]='international'

In [8]:
p_info

{'sex': 'male',
 'height': 173,
 'weight': 65,
 'numbers': [1, 2, 3, 4],
 'fruits': {'citrus': ['lemon',
   'lime',
   'orange',
   {'orange-type': ['foreign', 'international']}]}}

In [10]:
car = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}
x = car.setdefault("year")

In [11]:
x

1964

In [12]:
car.setdefault("colour")

In [13]:
car

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'colour': None}

In [22]:
car.setdefault("mileage",1234)

In [21]:
car

{'brand': 'ford',
 'model': 'mustang',
 'year': 1964,
 'colour': None,
 'mileage': None}

In [23]:
car.pop('colour')

In [24]:
car

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'mileage': None}

In [25]:
car.get(2)

In [46]:
def login():
    '''This prints the sum of two numbers a and b'''
    firstname = input('enter your first name:')
    lastname = input('enter your lastname')
    password = int(input('enter your password:'))
    savedpassword = 1234

    if password == savedpassword:
        print(f'login succesful {firstname} {lastname}') 
    else:
        print('incorrect password, try again')   
    return

In [44]:
login()

login succesful muslim  sulaiman

In [47]:
login.__doc__

'This prints the sum of two numbers a and b'

In [54]:
def age():
    age = int(input('enter you age'))
    year = 2024 - age
    print(f'you were born in {year}')
    return

In [55]:
age()

you were born in 2008

In [57]:
def average():
    a = 9
    n = 12
    e = 7
    print(a + n / e)
    return
average()

10.714285714285714

In [60]:
def average(a,n,e):
    print(a + n / e)
    return
average(9,12,7)

10.714285714285714

In [61]:
def change_name(name):
    print("the passed name is{}".format(name))
    #change the name
    name = "Harry Potter"
    print("the new name in this function is {}".format(name))
    return

#call the function
name = "jhon snow"
change_name(name)

the passed name isjhon snow
the new name in this function is Harry Potter

In [63]:
def change_name(name):
    #change the name
    name = "Harry Potter"
    print("the passed name is {}".format(name))
    print("the new name in this function is {}".format(name))
    return

#call the function
name = "jhon snow"
change_name(name)

the passed name is Harry Potter
the new name in this function is Harry Potter

In [69]:
def changenames(age=12,year=2024):
    print(year - age)
    return
changenames()

2012