In [5]:
fruit = ['apple','kiwi','banana','orange']
fruit[3]
fruit[3] = 'banana'

In [6]:
fruit

['apple', 'kiwi', 'banana', 'banana']

In [7]:
food = ['sugar', ['cornflakes','golden morn','granola','muesli'], ['strawberry','orange'], ['bloody mary','lady killer']]
food[1][1], food[2][0], food[3][0]

('golden morn', 'strawberry', 'bloody mary')

In [8]:
print(food[1][1])

golden morn

In [9]:
food[3][0]

'bloody mary'

In [10]:
food[1][1:3]

['golden morn', 'granola']

In [11]:
print(food[1::2])

[['cornflakes', 'golden morn', 'granola', 'muesli'], ['bloody mary', 'lady killer']]

In [12]:
food[2][0]= 'milkshake'

In [13]:
food[3][0]= 'four cousins'

In [14]:
food

['sugar',
 ['cornflakes', 'golden morn', 'granola', 'muesli'],
 ['milkshake', 'orange'],
 ['four cousins', 'lady killer']]

In [15]:
cars = ['toyota','honda','prado','volvo','akura']
bikes = ['kawasaki','suzuki','subaru']
cars.append(bikes)
print(cars)

['toyota', 'honda', 'prado', 'volvo', 'akura', ['kawasaki', 'suzuki', 'subaru']]

In [16]:
cars.extend(bikes)
print(cars)

['toyota', 'honda', 'prado', 'volvo', 'akura', ['kawasaki', 'suzuki', 'subaru'], 'kawasaki', 'suzuki', 'subaru']

In [17]:
bikes = cars.copy()
print(bikes)

['toyota', 'honda', 'prado', 'volvo', 'akura', ['kawasaki', 'suzuki', 'subaru'], 'kawasaki', 'suzuki', 'subaru']

In [18]:
student1 = ['godwin', 'bello', 'data science']
students = ['abuja', 'i.75', 'dark']

In [19]:
student1.reverse()

In [20]:
student1

['data science', 'bello', 'godwin']

In [21]:
student1.sort()

In [22]:
student1

['bello', 'data science', 'godwin']

In [23]:
student1.sort(reverse="true")

In [24]:
student1

['godwin', 'data science', 'bello']

In [29]:
Fname = ['sid','bash','clint']
Mname = ['clara','cassie','ejima']
Fname.extend(Mname)
Fname

['sid', 'bash', 'clint', 'clara', 'cassie', 'ejima']

In [42]:
a = 0
b = 65
while a < b:
    print(a)
    a = a+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64

In [54]:
x = 2
while x < 65:
    print('the value of x is', x)
    if x == 40:
        break
    x += 2

the value of x is 2
the value of x is 4
the value of x is 6
the value of x is 8
the value of x is 10
the value of x is 12
the value of x is 14
the value of x is 16
the value of x is 18
the value of x is 20
the value of x is 22
the value of x is 24
the value of x is 26
the value of x is 28
the value of x is 30
the value of x is 32
the value of x is 34
the value of x is 36
the value of x is 38
the value of x is 40

In [56]:
x = 5
while x < 55:
    print('the value of x', x)
    if x == 25:
        break
    x += 5

the value of x 5
the value of x 10
the value of x 15
the value of x 20
the value of x 25

In [57]:
i = 0
while i < 6:
    i += 1
    print(i)
    if i == 4:
        continue

1
2
3
4
5
6

In [58]:
i = 0
while i < 6:
    i += 1

    if i== 4:
       continue
    print(i)

1
2
3
5
6

In [2]:
fruits =['orande','kiwi','banana']
for f in fruits:
    print(f)

orande
kiwi
banana

In [4]:
for car in ['bmw','ford','benz','gmc']:
    print(car, end =' ')

bmw ford benz gmc

In [5]:
for car in ['bmw','ford','benz','gmc']:
    print(car, )

bmw
ford
benz
gmc

In [6]:
for character in 'this is a string':
    print(character, )

t
h
i
s

i
s

a

s
t
r
i
n
g

In [8]:
for num in mylist:
    if num == 2:
      break
    print(num**2)

NameError: name 'mylist' is not defined

In [9]:
thistuple =('apple,','banana','cherry','apple','cherry')
print(thistuple)

('apple,', 'banana', 'cherry', 'apple', 'cherry')

In [14]:
thistuple =('apple','banana','cherry')
if 'orange'in thistuple:
    print("yes, 'apple' is in the fruits tuple")
else:
    print('no')

no

In [ ]:
Conditional statement

# h1

## h2

### h3

#### h4

###### h5

###### h6

In [1]:
a =int(input('guess a number'))

if a == 1:
    print("correct guess")
else:
    print("incorrect guess")